.total .circle {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  background-color: #e4e6f0;
}
.circle .item {
  height: 275px;
  width: 275px;
  border-radius: 50%;
}


@media only screen and (max-width: 1450px) {
  .container {
    width: auto;
  }
  .circle .item {
    height: 230px;
    width: 230px;
  }
}

@media only screen and (max-width: 600px) {
  .total .container .item-cont {
    margin: 10px;
  }

  .total .circle {
    display: block;
 
  


   
  }
  .circle .item-cont {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .circle .item {
    height: 275px;
    width: 275px;
    border-radius: 50%;
   
  }

  @media only screen and (max-width: 360px) {
    .total .circle {
      display: flex;
      width: 100vw;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      
      
      
    }
    .circle .item-cont {
      margin: 0;
      flex: none;
      width: 100%;
      scroll-snap-align: start;
    
      
      
    
    }
    .circle .item {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 50%;
      
      
    }
    .circle .item {

      height: 275px;
      width: 275px;
      border-radius: 50%;
      
    }
  }
}

