.mult{
    display: flex;
}
.multiform-left, .multiform-right
{
    width: 50vw;
    display: flex;
    align-items: center;
    padding: 80px 0px;

}
.multiform-left .item-cont
{
    width: 330px;
    height: 330px;
} 
.multiform-right .item-cont
{
    width: 330px;
    height: 330px;
} 
.multiform-left{
    background-color:#e9ebf3;
    justify-content: flex-end;
    padding-right: 40px;
}
.multiform-right{
    background-color:#e4e6f0;
    justify-content: flex-start;
    margin-left: 80px;

}

@media only screen and (max-width: 900px) {


}
@media only screen and (max-width: 830px) {
    .multiform-left, .multiform-right
{
    display: block;
   
}

}
@media only screen and (max-width: 350px) {
    .multiform-left .item-cont
{
    width: auto;
    height: 330px;
} 
.multiform-right .item-cont
{
    width: auto;
    height: 330px;
    padding-left: 40px;
} 

}