
.container
{
   max-width: 960px;
   margin: 0 auto;
   /*border: 5px solid crimson; */
   grid-gap: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 40PX;
   margin-bottom: 40px;

   
}


