
.total 
{
    display: flex;
    width: 100vw;
    margin: 0 auto;
    background-color: rgb(237, 243, 243);
    margin-top:40px;
    margin-bottom:40px;
 
}


.primeiro div:nth-child(1){
    grid-column: 1/3;
    grid-row: 1;
 }

 

.circle .item-cont img
{
    width: 290px;
    height: 290px;
    border-radius: 50%;
}


.left-important  
{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
}

.left-important > div:nth-child(1)
{
    grid-row: 1/3;
    grid-column: 1;
    border: 5px solid rgb(20, 220, 70);
}



.right-important > div:nth-child(2)
{
    grid-row: 1/3;
    grid-column: 2;
    border: 5px solid rgb(33, 20, 220);
}
.total > .tot-multicolor{
    align-items: center;
    justify-content: center;
   
}
.tot-multicolor{
    
    background-image: linear-gradient(  rgb(237, 243, 243) 50%, white 50%);
 
}
.tot-multicolor > .item-cont{
  
    margin: 0 auto;
}
.tot-multicolor > .item-cont img{
    width: 900px;
    padding: 40px;
}
.tot-multiformas{
    border: 5px solid rgb(33, 20, 220);
  
}
.tot-multiformas .container{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    

}
.tot-multiformas .container img{

}
